@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: saira;
  src: url(../public/static/fonts/Saira-VariableFont_wdth.ttf);
}

@font-face {
  font-family: delaGothic;
  src: url(../public/static/fonts/DelaGothicOne-Regular.ttf);
}

@font-face {
  font-family: copdro;
  src: url(../public/static/fonts/Copdro.otf);
}

.core {
  font-family: delaGothic;
}

.Navbar {
  font-family: saira;
}

.footerFont {
  font-family: saira;
}

.saira {
  font-family: saira;
}

.copdro {
  font-family: copdro;
}

.silver {
  color: #C0C0C0;
}

.headerGradient {
  background: linear-gradient(to bottom, transparent 0 75%, #06b6d4 99% 100%);
}

.separatorGradient {
  background: linear-gradient(to top, black 0 98%, black 99% 100%);
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: linear-gradient(to bottom, black 0 93%, #06b6d4 93% 100%);
  }
}


